<h1>Fakturáč</h1>
<h2>Aktivace účtu</h2>

<p>Děkujeme za registraci na Fakturáči. Abyste jej mohl(a) plně využívat, musíte se nejdříve aktivovat.</p>
<p><a href="#">Aktivovat</a></p>
<p>Pokud nemůžete aktivovat účet kliknutím na odkaz, pak si následující adresu zkopírujte a vložte do adresního řádku prohlížeče:</p>
<p><a href="#">http://fakturac/aktivace...</a></p>