<h1>Fakturáč</h1>
<h2>Zapomenuté heslo</h2>

<p>Na základě vaší žádosti vám zasíláme nové heslo:</p>

<p><strong>{{ password }}</strong></p>

<p>Nyní se můžete s tímto heslem <a href="{{ absolute_url(path('app_login')) }}">přihlásit</a>.</p>
<p>Doporučujeme hned po přihlášení si heslo změnit a tento e-mail smazat.</p>

<p>Váš Fakturáč</p>