<h1>Fakturáč</h1>
<h2>Vítáme vás!</h2>

<p>Děkujeme za aktivaci vašeho účtu. Nyní se můžete <a href="{{ absolute_url('app_login') }}">přihlásit<</a> můžete využívat Fakturáč jak je libo :)</p>
<p>Váš Fakturáč</p>